
class WelcomePage extends React.Component {

  constructor() {
    super()
    this.state = {parks: []}
    window.gMaps().then(() => this.setState({google: window.google}))
  }

  handleInputChange(event) {
    this.setState({parks: []})
    this.setState({location: event.location});
    let {lat, lng} = event.location;
    fetch(`/near?lat=${lat}&lng=${lng}`).
      then((resp) => resp.json()).
      then((parks) =>
        this.setState({parks: parks})
      )
  }

  render() {
    return (
      <div className="WelcomePage">
        <div>
          <h1>Going out today?</h1>
          <h2>Where would you like to visit a park?</h2>
          { this.state.google &&
          <GeoSuggestionInput
            onSuggestSelect={this.handleInputChange.bind(this)}
            location={new google.maps.LatLng(-37, 145)}
            placeholder="Start typing to find a location"
          />
          }

          {this.state.location &&
          <span>{this.state.location.lat}, {this.state.location.lng}</span>
          }
        </div>
        <div className="weather">
          <h2>Here's some extra info to help you plan</h2>
          <div className="grid">
            <div className="info">
              <img src="<%= image_url 'clouds-and-sun' %>" alt="clouds and sun"/><br/>
              <span>17</span>
            </div>
            <div className="info">
              <img src="<%= image_url 'sun-cream.png' %>" alt="sun-cream"/><br/>
              <span>UV 3</span>
            </div>
            <div className="info">
              <img src="<%= image_url 'sweater_480' %>" alt="sweater"/><br/>
              <span>Dress warmly</span>
            </div>
          </div>
        </div>
        <div className="facilities">
          <h2>What facilities do you care about?</h2>
          <form name="facilities">
            <div className="grid">
              <div className="option">
                <input type="checkbox" id="toilets" name="type-of-facility" value="toilets"/>
                <label htmlFor="toilets">
                  <img src="<%= image_url 'black-icons/restrooms.jpg' %>"/><br/>
                  Toilets
                </label>
              </div>
              <div className="option">
                <input type="checkbox" id="wheelchair" name="type-of-facility"/>

                <label htmlFor="wheelchair">
                  <img src="<%= image_url 'black-icons/accessiblerestrooms.jpg' %>"/><br/>
                  Accessibility
                </label>
              </div>
              <div className="option">
                <input type="checkbox" id="play" name="type-of-facility"/>
                <label htmlFor="play">
                  <img src="<%= image_url 'black-icons/playground.jpg' %>"/><br/>
                  Playground
                </label>
              </div>
              <div className="option">
                <input type="checkbox" id="bbq" name="type-of-facility"/>
                <label htmlFor="bbq">
                  <img src="<%= image_url 'black-icons/bbq.jpg' %>"/><br/>
                  BBQs
                </label>
              </div>
              <div className="option">
                <input type="checkbox" id="dog" name="type-of-facility"/>
                <label htmlFor="dog">
                  <img src="<%= image_url 'black-icons/dogarea.jpg' %>"/><br/>
                  Dog park
                </label>
              </div>
            </div>
          </form>
        </div>
        {this.state.parks.length &&
        <table className="results">
          <thead>
            <tr>
            <th>Park name</th>
            <th>Amenities</th>
            </tr>
          </thead>
          <tbody>
          {this.state.parks.map((park, idx) =>
            <tr key={idx}>
              <td>
                <a
                  href={`https://www.google.com.au/maps/@${park.centre.lng},${park.centre.lat},15z`}
                >
                  {park.name}
                </a>
              </td>
              <td>{park.amenities.slice(0,3).map(a => <img src={a.icon} alt={a.icon_alt} /> )}</td>
            </tr>
          )}
          </tbody>
        </table>
        }
      </div>
    );
  }

}
